form {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    width : 95%;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  mat-error {
    color: red;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }
  .navToSignup{
    text-align: left;
    padding: 20px 0;
  }
  .navToSignup>a{
    text-decoration: none;
    color: black;
  }
  mat-spinner ::ng-deep circle{
    stroke: #FFFFFF !important;
  }
