<form [formGroup]="loginForm">
  <mat-error *ngIf="loginForm.hasError('invalidData')">Invalid email or password</mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="username?.hasError('email')">
        Please enter a valid username (minimum 3 characters).
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="password?.invalid">
        Please enter a valid password (minimum 6 characters).
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="onSubmit()">
      <ng-container *ngIf="!spinning">Submit</ng-container>
        <mat-spinner diameter="25" *ngIf="spinning"></mat-spinner>
    </button>
    <div class="navToSignup">
      <a routerLink="/signup">Not a user ? Sign up</a>
    </div>
  </form>
  