<mat-toolbar color="primary">
  <img routerLink="" src="https://img.icons8.com/wired/64/ffffff/netapp.png" class="header_logo">
  <span class="spacer"></span>
  <a mat-icon-button routerLink="">
    <mat-icon>home</mat-icon>
  </a>
  <a mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </a>
  <a mat-icon-button>
    <mat-icon>search</mat-icon>
  </a>
  <a mat-icon-button *ngIf="!authService.isLoggedIn" routerLink="login">
    <mat-icon>login</mat-icon>
  </a>
  <a mat-icon-button *ngIf="authService.isLoggedIn" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>