form {
    width: 500px;
    margin: 50px auto;
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    width: 100%;
    margin-top: 20px;
  }
  mat-spinner ::ng-deep circle {
    stroke:white !important;
  }
  