<div class="product-container">
    <mat-card *ngIf="product">
      <img mat-card-image [src]="product.image"/>
      <div class="product-content">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.model }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ product.description }}</p>
          <div class="price_rating">
            <p class="product-price">Price: {{ product.price }}</p>
            <p class="product-rating">Rating: {{ product.rating }}</p>
          </div>
        </mat-card-content>
      </div>
    </mat-card>
</div>
<div class="cart_button">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Add to cart</mat-button-toggle>
        <mat-button-toggle value="italic">Buy now</mat-button-toggle>
      </mat-button-toggle-group>
</div>
  